/* global setting */
$color-primary: #42BCD3;
$color-secondary: #2F2E59;
$color-auxiliary: #E5717E;
$color-border: #E34B5B;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin contenedor {
    width: 100%;
    min-width: 320px;
    display: grid;
    grid-template-columns: minmax(10px, 10%) minmax(300px, 80%) minmax(10px, 10%);
    place-items: center;
}